html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 82vw;
  max-height: 41.6vw;
  overflow-y: auto;
}
.instructonsDiv {
  max-width: 18vw;
  height: 100vw;
  word-wrap: break-word;
  border-left: 1px solid black;
}
.cardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 550px;
  margin: 35px;
  font-weight: bold;
  outline: 1px solid black;
}
button {
  background-color: white;
  margin: 10px 30px;
  border: 1px solid rgb(148, 137, 137);
}
button:hover {
  background-color: rgb(148, 137, 137);
  cursor: pointer;
}
.navbar {
  margin-top: 1px;
  outline: 1px solid black;
}
footer {
  position: fixed;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 2vw;
  border-top: 1px solid;
}
.deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.deleteIcon:hover {
  background-color: red;
}

h5 {
  position: relative;
  top: 18%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 1vw;
  padding: 5px;
}
